section.features
  .container
    .row
      .col-5
        h2.features__title Why Choose Us
        h3.features__subtitle Make Life With Bright JH
        p.features__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        +btn-green("SIGN UP FREE")
        +btn-grey("Watch video")
      .col-7.features-items
        +features-item("20", "EMPLOYEES", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since it to make a type specimen book.")
        +features-item("220", "Projects", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since it to make a type specimen book.")
        +features-item("200", "clients", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since it to make a type specimen book.")
        
