footer.footer
  .container
    .row 
      .col-3 
        img.footet__logo(src="./img/logo.png", alt="Logo")
        p.footer__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .col-2
        h3.footer__title Important Links
        ul.footer-links
          +footer-link
      .col-4
        h3.footer__title Twitter Feed
        .footer-news
          p.footer-news__text we can’t recommend anyone specific, but you can find a list of freelenacers working wit… 
            a.footer-news__link(href="#") https://t.co/fs1gMcMOejz
        .footer-news
          p.footer-news__text we can’t recommend anyone specific, but you can find a list of freelenacers working wit… 
            a.footer-news__link(href="#") https://t.co/fs1gMcMOejz
      .col-3
        h3.footer__title Our Offices
        p.footer__offices Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        img.footer__map(src="./img/map.png", alt="Map")