section.services
  .container
    +section("Our Services", "Fieldmagic is the most comprehensive field service & asset management platform on the market, combining ease of use, performance and flexibility with out of the box integration with all major accounting and ERP platforms. ")
    .row
      .col-4
        +service-card("Network & Security Engineering", "service1.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book")
      .col-4
        +service-card("Server & Storage Management", "service2.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book")
      .col-4
        +service-card("Hardware & Software Installations", "service3.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book")
      .col-4
        include ./subscribe-form.pug
      .col-4
        +service-card("Cloud Solutions", "service4.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book")
      .col-4
        +service-card("Hosted Email & Collaboration Suites", "service5.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. industry's standard a type specimen book")

