.subscribe-form
  .subscribe-form__title Join & Stay Connect
  .subscribe-form__info Stay updated with the latest news, stories and discounts.
  form(action="", method="post").subscribe-form__item
    input(type="email", name="email", placeholder="Email").subscribe-form__email
    input(type="submit", value="Subscribe").submit-btn