section.support
      .container
        .row
          .col-6
            h2.support__title 24/7 Real Support
            p.support__info Feature creep going forward you better eat a reality sandwich before you walk back in that boardroom can you send me an invite
            +btn-grey("contact support") 