body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: $bg-color;
}

.container {
  max-width: 1200px;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}
