$bg-color: #ffffff;
$bg-header: url("./../img/header-bg.png");
$bg-about: url("./../img/about-bg.png");
$bg-header: url("./../img/header-bg.png");
$bg-form: url("./../img/form-bg.png");
$bg-support: url("./../img/support-bg.png");
