.btn-green {
  padding: 0 40px;
  color: #fafeff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  height: 55px;
  border: none;
  border-radius: 28px;
  background-color: #16c2a3;

  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: lighten(#16c2a3, 20%);
  }
}

.btn-grey {
  padding: 0 40px;
  display: inline-block;
  color: #fafeff;
  font-size: 16px;
  font-weight: 500;
  line-height: 55px;
  text-transform: uppercase;
  height: 55px;
  border-radius: 28px;
  background-color: #4b4b4d;
  text-decoration: none;

  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: lighten(#4b4b4d, 20%);
    color: #fafeff;
    text-decoration: none;
  }
}

.submit-btn {
  color: #4b4b4d;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 22px;
}
