.section__title {
  margin: 0;
  margin-bottom: 40px;
  color: #4b4b4d;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.section__info {
  color: #4b4b4d;
  font-size: 16px;
  text-align: center;
}
