.support {
  padding: 370px 0 235px;
  background-image: $bg-support;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgba(231, 231, 231, 0.5);
}

.support__title {
  margin: 0;
  margin-bottom: 30px;
  color: #4b4b4d;
  font-size: 36px;
  font-weight: 500;
}

.support__info {
  margin: 0;
  margin-bottom: 45px;
  max-width: 530px;
  color: #4b4b4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
