extends ./../layouts/page-layout.pug

block variables
    - const title = "Bright JH";

block content
  include ./../sections/header.pug

  main
    include ./../sections/about.pug
    include ./../sections/services.pug
    include ./../sections/features.pug
    include ./../sections/support.pug
    include ./../sections/blog.pug

  include ./../sections/footer.pug
  include ./../sections/copyright.pug
    
    
  